.featured-sectionn {
  padding: 80px 20px;
  background: #fff;
}

/* CENTER HEADING */
.heading {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 50px auto;
}

.heading h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.heading p {
  font-size: 16px;
  color: #6b7280;
  line-height: 1.6;
}


.car-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.car-list-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.car-list-subtitle {
  text-align: center;
  color: #6b7280;
  /* gray-500 */
  margin-bottom: 2rem;
}

.car-list-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 equal columns */
  gap: 1.5rem; /* space between cards */
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  box-sizing: border-box;
}
