.footer {
  background: black;
  border-radius: 50px 50px 0px 0px;
  border-top: 4px solid #c29e3c;
  padding: 60px 80px 20px;
  font-family: "Segoe UI", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.2fr;
  gap: 60px;
  margin-bottom: 40px;
}

/* BRAND */
.footer-brand p {
  margin: 18px 0;
  color: #ffffff;
  max-width: 320px;
  line-height: 1.6;
}

.footer-logo {
  width: 160px;
}

/* SOCIAL ICONS */
.footer-socials {
  display: flex;
  gap: 14px;
  margin-top: 10px;
}

.footer-socials svg {
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease;
}

.footer-socials svg:hover {
  color: #2563eb;
}

/* LINKS */
.footer-links h4,
.footer-contact h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
  color: #D8BB68;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #ffffff;
}

/* CONTACT */
.footer-contact p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #D8BB68;
}

/* BOTTOM BAR */
.footer-bottom {
  border-top: 1px solid #D8BB68;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #ffffff;
}

.footer-policy {
  display: flex;
  gap: 12px;
}

.footer-policy a {
  color: #ffffff;
  text-decoration: none;
}

.footer-policy a:hover {
  color: #2563eb;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}
