.owner-banner {
  max-width: 1200px;
  margin: 80px auto;
  padding: 50px 60px;
  border-radius: 28px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(100deg, #D8BB68, #a09b4f);
}

/* LEFT CONTENT */
.banner-content {
  max-width: 520px;
  color: #fff;
}

.banner-content h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 18px;
}

.banner-content p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 28px;
  opacity: 0.95;
}

/* BUTTON */
.list-btn {
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  background: #fff;
  color: black;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.list-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* RIGHT IMAGE */
.banner-image img {
  width: 460px;
  max-width: 100%;
  /* filter: drop-shadow(0 25px 40px rgba(0, 0, 0, 0.35)); */
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .owner-banner {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .banner-content {
    max-width: 100%;
  }

  .banner-image img {
    width: 360px;
  }
}
